/doc export-ignore
/notes export-ignore
/test-suite export-ignore
/tests export-ignore
.gitattributes export-ignore
.gitignore export-ignore
build.xml export-ignore
CHANGES export-ignore
create_pear_package.php
package.xml.tpl export-ignore
README export-ignore
README.git export-ignore
VERSION export-ignore